.main-content-profile {
    grid-column: 2;
    display:grid;
    grid-template-rows: 1fr 3fr 3fr;
    
}
.profile-info {
    display:grid;
    margin-top: 20px;
    height: 180px;
}
.purchases h1 {
    margin: 20px 0;
}
.active-ads h1 {
    padding-bottom: 10px;
}