<div class="main-content">

<div class="main-content-search">

  <% if user_signed_in? %>
    <h4>Welcome to Repair This, <%= current_user.name %>!</h4>
  <% end %>

  <h2>Need your electronic device repaired?</h2>
  <h2>We can link you up with the person you need.</h2>
  <h3> What services are you looking for?</h3>

  <form action="/search">
    <input type="text" name="q" placeholder=" e.g iPhone 6s screen"><br>
    <input type="submit">
  </form>

</div> <!-- END main-content-search -->

<div class="repair-this-image">
      <%= image_tag 'computer-repair-illustration.svg', alt: 'Computer needing repair' %>
</div> <!-- END repair-this-image -->

</div> <!-- END main-content -->
