<div class="main-content-sell-ads">
    <div class="services">
        <h1>Editing Sell Ad</h1>

        <%= render 'form', sell_ad: @sell_ad %>

        <%= link_to 'Show', @sell_ad %> |
        <%= link_to 'Back', sell_ads_path %>

    </div> <!-- END services -->
</div> <!-- END main-content-sell-ads -->