<div class="main-content-buy-ads">
    <div class="requests">
        <h1>Editing Buy Ad</h1>

        <%= render 'form', buy_ad: @buy_ad %>

        <%= link_to 'Show', @buy_ad %> |
        <%= link_to 'Back', buy_ads_path %>

    </div> <!-- END requests -->
</div> <!-- END main-content-buy-ads -->